<h1>Cards#add</h1>
<p>新しく登録する読書データを記入してください</p>
<table>
  <tr>
    <th>タイトル</th>
    <td></td>
  </tr>
  <tr>
    <th>著者</th>
    <td></td>
  </tr>
  <tr>
    <th>価格</th>
    <td></td>
  </tr>
  <tr>
    <th>出版社</th>
    <td></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td>保存</td>
  </tr>
</table>
<p>
  <a href = "/cards">&lt;&lt;トップページに戻る</a>
</p>
