<h1>Cards#show</h1>
<p>「<%= @card.title %>」の読書データ</p>
<table>
  <tr>
    <th>ID</th>
    <td></td>
  </tr>
  <tr>
    <th>タイトル</th>
    <td></td>
  </tr>
  <tr>
    <th>著者</th>
    <td></td>
  </tr>
  <tr>
    <th>価格</th>
    <td></td>
  </tr>
  <tr>
    <th>出版社</th>
    <td></td>
  </tr>
  <tr>
    <th>コメント</th>
    <td></td>
  </tr>
</table>
