<h1>Bloggenres#add</h1>
<p>ジャンル・データの作成画面</p>
<% if @bloggenre.errors.any? %>
<ul>
  <% @bloggenre.errors.fullmessages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<p><a href = "/bloggenres"><<一覧ページ</a></p>
