<h1>Bloggenres#edit</h1>
<p>「<%= @bloggenre.name %>」の編集画面</p>
<% if @bloggenre.errors.any? %>
<ul>
  <% @bloggenre.errors.fullmessages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<p><a href = "/bloggenres"><<一覧ページ</a></p>
