<h1>Messages#edit</h1>
<p><%= @msg %></p>
<h1>Messages#add</h1>
<p><%= @msg %></p>
<% if @message.errors.any? %>
<ul>
  <% @message.errors.full_messages.each do |err|%>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>

