// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: darkgray;
  font-size: 18pt;
  margin: 10px 20px;
}

h1 {
  color: darkgray;
  font-size: 24pt;
  margin: 40px 0px;
}

table tr th {
  background: coral;
  color: #f6f6f6;
  padding: 10px;
  font-weight: bold;
}

table tr td {
  background: burlywood;
  color: #909090;
  padding: 5px 10px;
  font-size: 20px;
}
