<% @data.each do |obj| %>
  <h3 class = "top_title">
    <a href = "/blogs/show/<%= obj.id %>">
      <%= obj.title %>
    </a>
  </h3>
  <p class = "top_read">
    <%= obj.read %>
    <span class = "top_created">(<%= obj.created_at %>)</span>
  </p>
<% end %>
