<h1>Blogposts#edit</h1>
<p>「<%= @blogpost.tilte %>」の編集画面</p>
<% if @blogpost.errors.any? %>
<ul>
  <% @blogpost.errors.fullmessages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<p><a href = "/blogposts"><<一覧ページ</a></p>
